.gradient-background {
    background: linear-gradient(300deg, #FFD89C, #A2CDB0, #85A389);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .white-svg {
    fill: white;
  }

  .green-svg {
    fill: #198754;
  }

  .pink-svg {
    fill: #FFD0D0;
  }

  .active {
    background-color: #198754 !important;
  }

  .profile-img {
    height: 200px;
  }
  
